<% layout('layouts/boilerplate') %>
<%- include('./partials/navbar') %>  
    <div class="alert alert-danger">
        <h4 class="alert-heading">Error!</h4>
        <p><%= err %></p>
       
    </div>    
</body>
</html>
